.container {
  width: 80%;
  margin: 0 auto;
}
.container-listMovie {
  width: 70%;
  margin: 0 auto;
}
.container-tabMovie {
  width: 60%;
  margin: 0 auto;
}
:where(
    .css-dev-only-do-not-override-vryruh
  ).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #ef4444;
}
:where(.css-dev-only-do-not-override-vryruh).ant-switch.ant-switch-checked {
  background: #ef4444;
}

.ant-carousel .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #afafaf;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-carousel .slick-prev::after {
  box-sizing: border-box;
  position: absolute;
  top: 2.3431457505076203px;
  inset-inline-start: 2.3431457505076203px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0 solid currentcolor;
  border-inline-width: 8px 0;
  border-block-width: 8px 0;
  border-radius: 1px;
  content: "";
  font-weight: bold;
  margin-left: 20px;
}
:where(.css-dev-only-do-not-override-vryruh).ant-carousel .slick-next::after {
  box-sizing: border-box;
  position: absolute;
  top: 2.3431457505076203px;
  inset-inline-start: 2.3431457505076203px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0 solid currentcolor;
  border-inline-width: 8px 0;
  border-block-width: 8px 0;
  border-radius: 1px;
  content: "";
  font-weight: bold;
}
:where(.css-dev-only-do-not-override-vryruh).ant-carousel .slick-prev,
:where(.css-dev-only-do-not-override-vryruh).ant-carousel .slick-next {
  margin-right: 50px;
  color: #ef4444;
}
.pos {
  position: relative;
  width: 100%;
  height: 620px;
}

:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #ef4444;
  border-color: #ef4444;
}
[type='text']:focus {
  --tw-ring-color: none;
  border-radius: 4px;
}
[type='text'] {
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-vryruh).ant-checkbox:not(
    .ant-checkbox-disabled
  ):hover
  .ant-checkbox-inner {
  border-color: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-input-outlined:hover {
  border-color: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-vryruh).ant-input-outlined:focus-within {
  border-color: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-solid {
  color: #fff;
  background: #ef4444;
}

:where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-solid:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background: #e05454;
  color: #fff;
}

:where(.css-dev-only-do-not-override-vryruh).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding: 0 10px;
}

:where(.css-dev-only-do-not-override-vryruh).ant-progress
  .ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: #86F248;
}

.bg-navbar {
  background-color: #0B192C;
}
.bg-layout {
  background-color: #1E3E62;
}
.text-color {
  color: #FF6500
}
.bg-button {
  background-color:#ef4444;
}
.container-theater {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.hr {
  border: none;
    height: 1px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

